.input-group-addon{
width: 100px;
background-color:#337ab7;
color:#fff;
}
.input-group.date .input-group-addon {
  cursor: pointer;
}

/* 控制月 下個月 上個月 滑鼠過去的顏色 */
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eeeeee;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px;
  background: white;
  color:black;
  border:0.5px solid #eeeeee;
}
#c_input,#c_input2,#c_input3,#c_input4{
	width: 450px; 
	margin:0px auto;
	padding:5px
}
.modal-title{
	text-align:center;
}