#h_div1 td{
		margin:10px 0px 0px 0px;
		float:left;
		list-style-type:none;
	}
	#h_div1 a{
	text-decoration:none;
	color:#167ac6;
	font-weight: 600;
	font-family:sans-serif; 
	font-size:15px;
	}
	#v_watchtimes{
	font-weight: 550;
	font-family:Microsoft JhengHei; 
	font-size:12px;
	}
	
.video-home {
    background-color: #22282e;
    padding-bottom: 55px;
    padding-top: 100px;
    display: block;
    height:650px;
}
.content .container-fluid {
    padding: 0 35px;
    margin-right: auto;
    margin-left: auto;
}

.video-home .padding-mod {
    padding: 0 50px;
}
/* @media (min-width: 1200px) */
.col-lg-offset-2 {
    margin-left: 16.66667%;
}
/* @media (min-width: 1200px) */
.col-lg-8 {
    width: 66.66667%;
}
/* @media (min-width: 1200px) */
.col-lg-8 {
    float: left;
}
/* @media (min-width: 992px) */
.col-md-4 {
    width: 29.33333%;
    float: left;
}
.video-home .col-md-4 {
    padding-left: 0;
}

.video-home-stream--button {
    display: block;
    padding: 15px 5px;
    font-size: 26px;
    color: #f1f1f1;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #f1f1f1;
    background-color: transparent;
    width: 300px;text-decoration: none;margin-left: 190px;
}
.video-home-stream--button:hover{
	background-color:white;
	color:black;
}
#tr1 td{
	width:240px;
	height:180px;
}