.span-8 {
    float: left;
    padding-right: 14px;
    position: relative;
    width: 70%;
}
.span-4 {
    float: left;
    padding-left: 10px;
    width: 30%;
}
.stram-main {
	height:660px;
	background-color:#22282e;
	padding:60px 150px 20px 150px;
}
.stram-left {
	height:660px;
	background-color:transparent;
}
.stream-title {
    float: left;
    height: 60px;
    width: 65%;
}
.stream-title--image {
    display: block;
    float: left;
    height: 60px;
    margin: 10px 15px 10px 10px;
    position: relative;
    width: 60px;
}
.stream-title--image img {
    border-radius: 50%;
    max-width: 100%;
}
.stream-title--title {
    margin-left: 70px;
    height: 35px;
}
.stream-title--title h2 {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.stream-title--username {
    height: 25px;
    margin-left: 70px;
}
.stream-title--title h2.live-title {
    color: #fff;
}
.stream-next {
    float: left;
    height: 35px;
    padding-top: 5px;
    width: 35%;
}
.stream-title--username span {
    color: #fff;
    font-weight: 400;
    padding-left: 5px;
}
.stream-current-time {
    float: left;
    width: 35%;
    height: 25px;
}
.stream-current-time--data {
    color: #fff;
    display: inline-block;
    font-weight: 300;
    line-height: 19px;
    text-align: right;
    width: 100%;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.stream-buttons {
    float: left;
    height: 25px;
    text-align: right;
    width: 100%;
}
.stream-video-chat {
    margin-top: 6px;
}
.stream-video-info {
    margin-top: 25px;
}

.stream-video-info--buttons {
    width: 510px;
}
.stream-video-info--buttons {
    float: left;
}
.stream-video-info--buttons a, .stream-video-info--buttons input {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    float: left;
    background-color: #1976d2;
    line-height: 25px;
    margin-right: 5px;
    height: 25px;
    min-width: 84px;
    text-align: center;
    border: none;
    margin-bottom: 5px;
    padding: 0 10px;
    text-transform: uppercase;
}
.stream-video-info--buttons a:hover{
text-decoration:none;
}
.stream-video-info--counts {
    text-align: right;
    float: right;
}
.stream-video-info--counts span:first-child {
    margin-left: 0;
}