<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ITV</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!--    <filter> -->
<!--     <display-name>LoginFilter</display-name> -->
<!--     <icon/> -->
<!--     <filter-name>LoginFilter</filter-name> -->
<!--     <filter-class>login.filter.LoginFilter</filter-class> -->
<!--     <init-param> -->
<!--       <param-name>mustLogin1</param-name> -->
<!--       <param-value>/PersonalPage.jsp</param-value> -->
<!--     </init-param> -->
<!--     <init-param> -->
<!--       <param-name>mustLogin2</param-name> -->
<!--       <param-value>/PlayList.jsp</param-value> -->
<!--     </init-param> -->
<!--   </filter> -->
  
<!--   <filter-mapping> -->
<!--     <filter-name>LoginFilter</filter-name> -->
<!--     <url-pattern>/*</url-pattern> -->
<!--   </filter-mapping> -->
  
  <resource-ref>
    <res-ref-name>jdbc/iTV</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
    <servlet>
    <servlet-name>Photo</servlet-name>
    <servlet-class>controller.Photo</servlet-class>
    <multipart-config>
      <location>d:/</location>
    </multipart-config>
  </servlet>
      <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>controller.MemberServlet</servlet-class>
    <multipart-config>
      <location>d:/</location>
    </multipart-config>
  </servlet>
</web-app>